VITE_API_BASE_URL=
VITE_GOOGLE_ADSENSE_CLIENT=
VITE_GOOGLE_ADSENSE_ENABLED=true
VITE_ADSENSE_SLOT_USD_KRW_DESKTOP=
VITE_ADSENSE_SLOT_USD_KRW_MOBILE=
VITE_ADSENSE_SLOT_DOLLAR_INDEX_DESKTOP=
VITE_ADSENSE_SLOT_DOLLAR_INDEX_MOBILE=
VITE_ADSENSE_SLOT_TAB_DEFAULT=
VITE_ADSENSE_SLOT_TAB_DASHBOARD=
VITE_ADSENSE_SLOT_TAB_KOREA_STATUS=
VITE_ADSENSE_SLOT_TAB_POLICY_BRIEFINGS=
VITE_ADSENSE_SLOT_TAB_NEWSROOM=
VITE_ADSENSE_SLOT_TAB_RANKING=
VITE_ADSENSE_SLOT_TAB_CALCULATOR=
VITE_ADSENSE_SLOT_TAB_DATA_SOURCES=
VITE_ADSENSE_SLOT_TAB_EXCHANGE_GUIDE=
