KOREAEXIM_API_KEY=replace-me
ECOS_API_KEY=replace-me
ECOS_KR_POLICY_RATE_STAT_CODE=722Y001
ECOS_KR_POLICY_RATE_ITEM_CODE=0101000
ECOS_FOREIGN_RESERVES_STAT_CODE=732Y001
ECOS_FOREIGN_RESERVES_ITEM_CODE=99
FRED_API_KEY=replace-me
FRED_US_POLICY_RATE_SERIES_ID=FEDFUNDS
FRED_USD_KRW_SERIES_ID=DEXKOUS

DB_URL=jdbc:mysql://localhost:3306/krw_watcher?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=krw_watcher
DB_PASSWORD=krw_watcher

CORS_ALLOWED_ORIGINS=http://localhost:5173
FRED_DOLLAR_INDEX_SERIES_ID=DTWEXBGS
TWELVE_DATA_API_KEY=replace-me
TWELVE_DATA_USD_KRW_SYMBOL=USD/KRW
TWELVE_DATA_INTRADAY_INTERVAL=5min
TWELVE_DATA_INTRADAY_OUTPUT_SIZE=1000
TWELVE_DATA_DAILY_OUTPUT_SIZE=1300
